/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";

html, body {

	overflow-x: hidden;
	max-width: 100vw;
	height: 100vh;
}

body {
	background-image: url(https://unsplash.imgix.net/photo-1416512107527-34cebecbac33?q=75&fm=jpg&s=58eff2b3daa3b797fb23fcd511d843ca);
	color:#fff !important;
	background-attachment:fixed;
}

.background {

	position:absolute;
	top: 0;
	left: 0;
	z-index: -2;
	width: 120vw;
	height: 100vh;
	overflow:hidden;

	.img-container {

		width: 15%;
		height: 35%;
		display:inline-block;
		margin:-5px;
		z-index: -2;
		text-align:center;
		vertical-align: middle;
		overflow:hidden;

		img {

			width: 10%;
			min-height: 100%;
			padding: 45%;
			opacity: 0;
			@include transition(all 0.375s ease);

			&.show {

				opacity: 1;
				padding: 0;
				width: 140%;
			}
		}
	}

	.overlay {

		position:absolute;
		width: 120vw;
		height: 100vh;
		z-index: 1;
		background-color: rgba(0,0,0,0.375);
	}
}

.jumbotron {
	border-radius: 0px 0px 10px 10px !important;
	background:transparent !important;
	h1 {
		font-size: 44px !important;
	}

	#calculator {

		.form-control {

			margin-left: 0px;
			margin-right: 0px;
			margin-bottom: 10px;
			display:inline-block;

			&:first-child {

				@include border-radius(5px 0px 0px 5px);
				width: 79.8%;
				margin-right: -2px;
				border-right: 1px solid #ddd;
			}

			&#genre {

				@include border-radius(0px 5px 5px 0px);
				width: 20%;
				margin-left: -2px;
				border-left: none;
			}
		}
	}
}
.container {
	max-width: 920px !important;
}

.genre {
	cursor:pointer;
	&#prev_genre {
		float:left;
	}
	&#next_genre {
		float:right;
	}
	&:hover {
		opacity: 0.7;
	}
	&:active {
		opacity: 0.3;
	}
}

.artist-col {
	padding: 10px;
	margin: 10px 0px;
	background: #337ab7;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
	border-radius: 5px;
	cursor:default;
	color:#fff;
	img {
		width:100%;
	}
	&:hover {
		background: #2e6aa4;
	}
	a {
		color:#fff;
		text-decoration: none !important;
		&:hover {
			color:#ddd;
		}
		&:active {
			color:#bbb;
		}
	}
	.youtube {
		color:#b11000;
		font-size: 20px;
	}
}

#result {

	background-color: rgba(0,0,0,0.5);

	&.ready {

		min-height: 100vh;
	}
}

.artists-compared, .artists-recomendations {
	float:left;
	width:100%;
	border-radius: 10px;
}

.artists-compared {
	opacity: 1;
}

.artists-recomendations {
	display:none;
	opacity: 0;
}

.share {
	float:right;
	margin-top: -5px;
}

.try-again, .artists-switch {
	float:right;
	text-decoration:none !important;
	font-size: 18px !important;
	margin-top: -4px;
	margin-left: 5px;
	margin-right: 5px;
}

@media screen and (min-width: 1024px) {

	.artist-col {
		img {
			height: 160px;
		}
		.lastfm_icon {
			height: 20px;
			width: 20px;
			float:right;
		}
		.lastfm_icon_recomend {
			height: 20px;
			width: 20px;
		}
	}
}

@media screen and (max-width: 1023px) {

	.artist-col {
		img {
			height: 240px;
		}
		.lastfm_icon {
			height: 40px;
			width: 40px;
			float:right;
			margin-top: -20px;
		}
		.lastfm_icon_recomend {
			height: 20px;
			width: 20px;
		}
	}
}




