/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
html, body {
  overflow-x: hidden;
  max-width: 100vw;
  height: 100vh;
}

/* line 15, ../sass/screen.scss */
body {
  background-color: #222 !important;
  color: #fff !important;
  background-attachment: fixed;
}

/* line 22, ../sass/screen.scss */
.form-control {
  border-radius: 2px;
  color: #fff;
  background: transparent;
}

/* line 31, ../sass/screen.scss */
select.form-control option {
  color: #000;
}
/* line 35, ../sass/screen.scss */
select.form-control option[selected] {
  color: #fff;
}

/* line 42, ../sass/screen.scss */
.circular {
  padding-left: 20px !important;
  padding-right: 10px !important;
}

/* line 48, ../sass/screen.scss */
.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/* line 58, ../sass/screen.scss */
.background .img-container {
  width: 20.6%;
  height: 35%;
  display: inline-block;
  margin: -5px;
  z-index: -2;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
/* line 69, ../sass/screen.scss */
.background .img-container img {
  width: 120%;
  min-height: 100%;
  -webkit-animation: fadeIn 0.5s ease;
}
/* line 77, ../sass/screen.scss */
.background .overlay {
  position: absolute;
  width: 120vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.375);
}

/* line 87, ../sass/screen.scss */
.jumbotron {
  border-radius: 0px 0px 10px 10px !important;
  background: transparent !important;
}
/* line 90, ../sass/screen.scss */
.jumbotron h1 {
  font-size: 44px !important;
}
/* line 96, ../sass/screen.scss */
.jumbotron #calculator .form-control {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  display: inline-block;
}
/* line 103, ../sass/screen.scss */
.jumbotron #calculator .form-control:first-child {
  -moz-border-radius: 2px 0px 0px 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px 0px 0px 2px;
  width: 79.8%;
  margin-right: -2px;
  border-right: 1px solid #ddd;
}
/* line 111, ../sass/screen.scss */
.jumbotron #calculator .form-control#genre {
  -moz-border-radius: 0px 2px 2px 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px 2px 2px 0px;
  width: 20%;
  margin-left: -2px;
  border-left: none;
}
/* line 120, ../sass/screen.scss */
.jumbotron #calculator #submit_username {
  font-size: 18px;
}

/* line 126, ../sass/screen.scss */
.container {
  max-width: 920px !important;
}

/* line 130, ../sass/screen.scss */
.genre {
  cursor: pointer;
}
/* line 132, ../sass/screen.scss */
.genre#prev_genre {
  float: left;
}
/* line 135, ../sass/screen.scss */
.genre#next_genre {
  float: right;
}
/* line 138, ../sass/screen.scss */
.genre:hover {
  opacity: 0.7;
}
/* line 141, ../sass/screen.scss */
.genre:active {
  opacity: 0.3;
}

/* line 148, ../sass/screen.scss */
#artists-heading .button {
  margin-left: 10px;
}

/* line 154, ../sass/screen.scss */
.artist-col {
  margin: 10px 0px;
  color: #fff;
  text-decoration: none;
  float: left;
  display: block;
}
/* line 162, ../sass/screen.scss */
.artist-col .img-thumbnail {
  width: 100%;
  background: transparent;
}
/* line 167, ../sass/screen.scss */
.artist-col:hover {
  text-decoration: none;
  color: #fff;
}
/* line 172, ../sass/screen.scss */
.artist-col:hover img {
  border-color: #528abc;
}
/* line 178, ../sass/screen.scss */
.artist-col a {
  color: #fff;
  text-decoration: none !important;
}
/* line 181, ../sass/screen.scss */
.artist-col a:hover {
  color: #ddd;
}
/* line 184, ../sass/screen.scss */
.artist-col a:active {
  color: #bbb;
}
/* line 188, ../sass/screen.scss */
.artist-col .youtube {
  color: #b11000;
  font-size: 20px;
}

/* line 194, ../sass/screen.scss */
#result {
  background-color: rgba(0, 0, 0, 0.75);
}
/* line 198, ../sass/screen.scss */
#result.ready {
  min-height: 100vh;
}

/* line 204, ../sass/screen.scss */
.artists-compared, .artists-recomendations {
  float: left;
  width: 100%;
  border-radius: 10px;
}

/* line 210, ../sass/screen.scss */
.artists-compared {
  opacity: 1;
}

/* line 214, ../sass/screen.scss */
.artists-recomendations {
  display: none;
  opacity: 0;
}

/* line 219, ../sass/screen.scss */
.share {
  float: right;
  margin-top: -5px;
}

/* line 224, ../sass/screen.scss */
.try-again, .artists-switch {
  float: right;
  text-decoration: none !important;
  font-size: 18px !important;
  margin-top: -4px;
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (min-width: 1024px) {
  /* line 236, ../sass/screen.scss */
  .artist-col img {
    height: 160px;
  }
  /* line 239, ../sass/screen.scss */
  .artist-col .lastfm_icon {
    height: 20px;
    width: 20px;
    float: right;
  }
  /* line 244, ../sass/screen.scss */
  .artist-col .lastfm_icon_recomend {
    height: 20px;
    width: 20px;
  }
}
@media screen and (max-width: 1023px) {
  /* line 254, ../sass/screen.scss */
  .artist-col img {
    height: 240px;
  }
  /* line 257, ../sass/screen.scss */
  .artist-col .lastfm_icon {
    height: 40px;
    width: 40px;
    float: right;
    margin-top: -20px;
  }
  /* line 263, ../sass/screen.scss */
  .artist-col .lastfm_icon_recomend {
    height: 20px;
    width: 20px;
  }

  /* line 271, ../sass/screen.scss */
  .background .img-container {
    width: 33.9%;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
